<h2 mat-dialog-title>Pagamento Total</h2>
<mat-dialog-content class="mat-typography">    
  <form  #form="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Selecione uma Carteira</mat-label>
        <mat-select [(value)]="uuidWalletCreditor" matInput required>
          <mat-option [value]="option.uuid" *ngFor="let option of wallets">{{ option.title }}</mat-option>
        </mat-select>
    </mat-form-field>

</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="basic" mat-button mat-raised-button mat-dialog-close>Cancelar</button>
  <button color="primary" mat-button mat-raised-button (click)="confirm()">Confirmar</button>
</mat-dialog-actions>
