<mat-card>
  <h1>Carteiras</h1>
  <button color="primary" mat-raised-button (click)="openDialog()">
    <mat-icon>account_balance_wallet</mat-icon>
    Nova Carteira
  </button>
</mat-card>
<br>

<div class="container">
  <div class="row">
    <h3 class="col-5">Titulo</h3>
    <h3 class="col-5">Tipo</h3>
    <h3 class="col-2">Ações</h3>
  </div>
  <div class="row" *ngFor="let wallet of wallets">
      <div class="col-5">
          {{ wallet.title }}
      </div>
      <div class="col-5">
        {{ wallet.typeWallet === 'DEBTOR' ? 'Débito' : 'Crédito' }}
      </div>
      <div class="col-2">
          <button mat-button color="primary" (click)="openEditDialog(wallet)">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="primary" (click)="delete(wallet)">
              <mat-icon>delete</mat-icon>
          </button>
      </div>
  </div>
</div>
<mat-paginator [length]="length"
                [pageSize]="pageSize"
                [pageIndex]="pageNumber"
                (page)="pageChangeEvent($event)">
</mat-paginator>