<mat-card>
  <button color="primary" mat-raised-button (click)="openDialog()">Nova Carteira</button>
  <!-- <mat-form-field appearance="fill" style="float: right;">
    <mat-label>Ano</mat-label>
    <mat-select [(value)]="monthSelected" matInput required>
      <mat-option [value]="month" *ngFor="let month of months">{{ month.label }}</mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field appearance="fill" style="float: right;">
    <mat-label>Mês</mat-label>
    <mat-select [(value)]="monthSelected" matInput required>
      <mat-option [value]="month" *ngFor="let month of months" (click)="reloadWallets()">{{ month.label }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
<br>

<div class="container">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-title style="color: #2e7d32;">Total: {{walletSummary.totalCreditor | currency : 'BRL'}}</mat-card-title>
        <br>
        <mat-card-subtitle>% Comprometido: {{walletSummary.percentageCommitted | percent: '1.2-2'}}</mat-card-subtitle>
      </mat-card>
      <br>
      <h2>Ativos</h2>
      <div *ngFor="let wallet of walletsCreditor">
        <mat-card class="example-card">
          <!-- MENU -->
          <button style="float: right;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>mode_edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Deletar</span>
            </button>
          </mat-menu>
          <mat-card-header>
            <div mat-card-avatar >
              <button mat-mini-fab color="accent" (click)="redirectRecord(wallet)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
            <mat-card-title><a (click)="redirectRecord(wallet)" style="cursor:pointer;">{{wallet.title}}</a></mat-card-title>
            <mat-card-subtitle>Ativo</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
              <mat-card-subtitle>Total: {{(wallet.value == undefined ? 0  : wallet.value) | currency: 'BRL'}}</mat-card-subtitle>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>
    </div>
    <div class="col">
      <mat-card>
        <mat-card-title style="color: #f44336;">Total: {{walletSummary.totalDebtor | currency : 'BRL'}}</mat-card-title>
        <br>
        <mat-card-subtitle>% Pago: {{walletSummary.percentagePaid | percent: '1.2-2'}}</mat-card-subtitle>
      </mat-card>
      <br>

      <h2>Passivos</h2>
      <div *ngFor="let wallet of walletsDebtor">
        <mat-card class="example-card">
          <!-- MENU -->
          <button style="float: right;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>mode_edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Deletar</span>
            </button>
          </mat-menu>
          <mat-card-header>
            <div mat-card-avatar>
              <button mat-mini-fab color="warn" (click)="redirectRecord(wallet)">
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
            <mat-card-title><a (click)="redirectRecord(wallet)" style="cursor:pointer;">{{wallet.title}}</a></mat-card-title>
            <mat-card-subtitle>Passivo</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
            <mat-card-subtitle>
              Total: {{(wallet.value == undefined ? 0  : wallet.value) | currency: 'BRL'}} |
              Total Pago: {{(wallet.valuePaid == undefined ? 0  : wallet.valuePaid) | currency: 'BRL'}}
            </mat-card-subtitle>
          </mat-card-actions>
        </mat-card>
        <br>
      </div>
    </div>
  </div>
</div>
