<mat-card>
  <h1>Movimentações de Crédito</h1>
  <button mat-raised-button color="primary" (click)="openDialog()">
      <mat-icon>monetization_on</mat-icon>
      Depósito
  </button>
  <button mat-raised-button color="primary" (click)="openDialogTransfer()" style="margin-left: 2px;">
      <mat-icon>swap_horiz</mat-icon>
      Transferir
  </button>

  <div style="display: flex; float: right;">
    <mat-icon>filter_alt</mat-icon>
    <mat-form-field appearance="fill" style="float: right;">
      <mat-label>Carteira</mat-label>
      <mat-select [(value)]="wallet" matInput required>
        <mat-option [value]="wallet" *ngFor="let wallet of wallets" (click)="listAll()">{{ wallet.title }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="float: right;">
      <mat-label>Mês</mat-label>
      <mat-select [(value)]="month" matInput required>
        <mat-option [value]="month" *ngFor="let month of months" (click)="listAll()">{{ month }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" style="float: right;">
      <mat-label>Ano</mat-label>
      <mat-select [(value)]="year" matInput required>
        <mat-option [value]="year" *ngFor="let year of years" (click)="listAll()">{{ year }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
<br>
<app-table-credit-transactions [dataSource]="records"></app-table-credit-transactions>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageIndex]="pageNumber"
               (page)="pageChangeEvent($event)">
</mat-paginator>
