<mat-card class="authentication">
    <mat-card-title>Controle Financeiro</mat-card-title><br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <mat-form-field>
            <input matInput placeholder="Usuário" [(ngModel)]="login.username" name="login" required>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput placeholder="Senha" [(ngModel)]="login.password" name="password" required>
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit">
            Acessar
        </button>
        <br>
        <a mat-stroked-button href="create-account">Criar Conta</a>
        <br>
        <a mat-stroked-button href="create-account">Convidado</a>
    </form>
</mat-card>