<h2 mat-dialog-title>Realizar Transferência</h2>
<mat-dialog-content class="mat-typography">    
  <form  #form="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Carteira Destino</mat-label>
        <mat-select [(value)]="walletDestiny" matInput required>
          <mat-option [value]="option" *ngFor="let option of wallets">{{ option.title }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input type='text' mask="separator.2" thousandSeparator="." matInput placeholder="Valor" [(ngModel)]="valueTransfer" name="value" required>
    </mat-form-field>

</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="basic" mat-button mat-raised-button mat-dialog-close>Cancelar</button>
  <button color="primary" mat-button mat-raised-button (click)="confirm()">Confirmar</button>
</mat-dialog-actions>
