<mat-card>
  <button color="primary" mat-raised-button (click)="openDialog()">
    <mat-icon>add_circle_outline</mat-icon>
    Novo Registro
  </button>

  <button mat-button color="accent">
    <mat-icon>payment</mat-icon>
    Pagar Tudo
  </button>
 
  <div style="display: flex; float: right;">
    <mat-icon>filter_alt</mat-icon>
    <mat-form-field appearance="fill" style="float: right;">
      <mat-label>Mês</mat-label>
      <mat-select [(value)]="monthSelected" matInput required>
        <mat-option [value]="month" *ngFor="let month of months" (click)="reloadRecords()">{{ month.label }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
<br>

<mat-card>
  <mat-card-title>{{wallet.title}}</mat-card-title>
  <mat-card-subtitle>{{wallet.typeWallet === 'CREDITOR' ? 'Crédito' : 'Débito'}}</mat-card-subtitle>
</mat-card>
<br>

<app-table-record-debtor *ngIf="wallet.typeWallet === 'DEBTOR'" [dataSource]="records"></app-table-record-debtor>
<app-table-record-creditor *ngIf="wallet.typeWallet === 'CREDITOR'" [dataSource]="records"></app-table-record-creditor>


