<h2 mat-dialog-title>Adicionar Registro</h2>
<mat-dialog-content class="mat-typography">    
  <form  #form="ngForm">
    <mat-form-field>
        <input matInput placeholder="Titulo" [(ngModel)]="record.title" name="title" required>
    </mat-form-field>

    <mat-form-field>
        <input type='text' mask="separator.2" thousandSeparator="." matInput placeholder="Valor da Parcela" [(ngModel)]="record.value" name="value" required>
    </mat-form-field>

    <mat-form-field>
        <input type="number" min="1" matInput placeholder="Qtd. Parcelas" [(ngModel)]="record.installments" name="installments" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Tag</mat-label>
        <mat-select [(value)]="record.tag" matInput required>
          <mat-option [value]="tag" *ngFor="let tag of tags">{{ tag.title }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Vencimento</mat-label>
        <input [disabled]="dayWallet != undefined" matInput [matDatepicker]="picker" [(ngModel)]="record.dateDeadline" name="dateDeadline">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button color="basic" mat-button mat-raised-button mat-dialog-close>Cancelar</button>
  <button color="primary" mat-button mat-raised-button (click)="save()">Salvar</button>
</mat-dialog-actions>
